// Fonts
$mainFont: "Press Start 2P", serif;

// Colors
$secondaryBg: #1e1e1e;
$primaryBg: #1c2129;

$primaryTitle: #f67d00;
$secondaryTitle: #00c5ff;
$semiTitle: #ff00f6;
$errorColor: #B22222;

$white: #ffffff;
$black: #000000;
